<!--
   Author: Khaled Yahya ELKarazle - 100074076
   Organization: Swinburne Sarawak Student Council
   Date: 24/04/2018
   -->
<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">

<head>
    <title>Feedback & Complaints | Swinburne Sarawak Student Council</title>
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <link href="Framework/css/mystyle.css" rel="stylesheet" type="text/css">
    <link href="Framework/css/bootstrap.css" type="text/css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-storage.js"></script>
    <script src="Framework/js/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="Framework/js/angular.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="Framework/js/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="Framework/js/myApp.js"></script>
    <script src="Framework/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="Framework/js/others.js"></script>
    <link href="Images/sssc_logo.ico" rel="icon">
</head>

<body>
    <Header-file></Header-file>
    <div id="bg-feedback">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                    <h1 id="feedback">Feedback & Complaints</h1>

                </div>
            </div>
            <div class="row" data-ng-controller="feedbackcontrol">
                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12  ">
                    <form name="myForm" class="form-group" data-ng-controller="feedbackcontrol">
                        <div class="feedback-style">
                            <h1>We would like to hear from you</h1>
                            <h4>Through the form below, you can send us all your compalints, questions and we will reply you as soon as we can</h4>
                            <fieldset>
                                <input type="text" id="name" class="form-control" data-ng-model="senderName" placeholder="Full Name" name="name" /><br>
                                <input type="email" id="eMail" class="form-control" data-ng-model="email" placeholder="Email Address" /><br>
                                <input type="tel" id="pnumber" class="form-control" data-ng-model="phone" placeholder="Phone Number" />
                                <label>I would like to:</label>
                                <select class="form-control" data-ng-model="feedType">
                        <option selected disabled hidden style='display: none' value=''>--</option>
                            <option>Give a feedback</option>
                            <option>Make a Complain</option>
                            <option>Give a Suggestion</option>
                            <option>Request For a Call / Email</option>
                        </select><br>
                                <textarea id="msg" class="form-control" rows="4" cols="50" data-ng-model="msg" placeholder="Enter Your Message Here..."></textarea>
                                <br>
                                <input type="submit" class="btn" value="Submit" data-ng-click="sendfeed()" />
                                <input type="reset" class="btn">
                                <h3 class="link-feed">Alternatively, You can track the status of your feedback that you have lodged before by clicking on <a href="" data-toggle="modal" data-target="#status">Check Status <span class="fa fa-angle-double-right"></span></a></h3>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>

            <div id="status" class="modal">
                <div class="modal-dialog modal-lg" id="modal-text">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="content">
                                    <div data-ng-controller="checkfeed">
                                        <div class="row">
                                            <div>
                                                <form class="search-form">
                                                    <h1>Check Feedback Status</h1>
                                                    <h4>You can check the status of your feedback by entering the Feedback ID below:</h4>
                                                    <input type="text" data-ng-model="feedid" class="form-control" id="search-id" placeholder="Feedback ID...">
                                                    <button type="submit" data-ng-click="searchfeed()" class="btn btn-basic">Check Status</button>

                                                </form>
                                            </div>
                                        </div>
                                        <div data-ng-show="infoexist == true" class="search-form" id="showSts">
                                            <h2>{{feed}}</h2>
                                            <hr>
                                            <ul>
                                                <li>Name:{{name}}</li>
                                                <li>Email:{{email}}</li>
                                                <li>Phone Number:{{phone}}</li>
                                                <li>Type:{{type}}</li>
                                                <li>Submitted on : {{subtime}}</li>
                                                <li id="sts">Status: <span id="user_status">{{status}}</span></li>
                                            </ul>
                                        </div>
                                        <div data-ng-show="infoexist == false" class="search-form"> <br>
                                            <h5>{{feed}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br><br>
    </div>
    <footer-file></footer-file>
</body>

</html>
